<h1 class="text-align-center">Public space </h1>
<% @articles.each do |article| %>
    <div class="card card-block">
      <h4 class="card-title"><%= article.title %></h4>
      <p class="card-text"><%= article.body %></p>
      <% if article.user_id != nil && article.user_id == @user.id %>
        <p>Author: Me</p>
          <%= link_to 'Show', user_article_path(@user, article), class: "btn btn-primary" %>
          <%= link_to 'Edit', edit_user_article_path(@user, article), class: "btn btn-warning" %>
          <%= link_to 'Destroy', user_article_path(@user, article), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      <% end %>
    </div>
<% end %>
<%= link_to 'Back', user_articles_path(@user), class: "btn btn-success btn-lg btn-block" %>
