  <h1 class="text-align-center"><%= @user.username %>'space </h1>
  <div class="text-align-center row">
    <% if @user.avatar_link && @user.avatar_link!='' %>
      <%= image_tag(@user.avatar_link, class: "img-thumbnail", width: "200") %>
    <% else %>
      <%= image_tag("http://lorempixel.com/100/100/", class: "img-thumbnail") %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-sm-12">

      <% @articles.each do |article| %>
          <div class="card card-block">
            <h4 class="card-title"><%= article.title %></h4>
            <p class="card-text"><%= article.body %></p>
            <%= link_to 'Show', user_article_path(@user, article), class: "btn btn-primary" %>
            <%= link_to 'Edit', edit_user_article_path(@user, article), class: "btn btn-warning" %>
           <%= link_to 'Destroy', user_article_path(@user, article), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </div>
      <% end %>
    </div>
  </div>

  <br />
  <%= link_to 'All', user_get_all_path, class:"btn btn-primary btn-lg btn-block" %>
  <%= link_to 'New Article', new_user_article_path(@user), class:"btn btn-primary btn-lg btn-block" %>
  <%= link_to 'Log out', logout_path, class:"btn btn-danger-outline btn-lg btn-block" %>
